AuthorizedKeysFile	/etc/ssh/authorized_keys/%u

# Example of overriding settings on a per-user basis
#Match User anoncvs
#	X11Forwarding no
#	AllowTcpForwarding no
#	PermitTTY no
#	ForceCommand cvs server
#
ChrootDirectory /jail/%u
ForceCommand internal-sftp -f AUTH -l VERBOSE
Subsystem sftp internal-sftp
AllowTcpForwarding no
X11Forwarding no
PasswordAuthentication no

#-u 0666 -p realpath,open,write,close,lstat
